<article class="li {{ .Type }}">
    <header class="post-header">
        <!-- 記事投稿日 -->
        <p class="post-time">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "January 2, 2006" }}</time>
        </p>
        <!-- 記事タイトル -->
        <h3 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h3>
    </header>
    <footer class="post-footer">
        <span>
            {{ with.Params.tags }}
            &nbsp;&nbsp;<i class="fa fa-tag"></i>
            {{ delimit  . ", "}}
            {{ end }}
        </span>
    </footer>
</article>
