<article class="{{ .Type }}">
    <header class="post-header">
        <p><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006年01月02日" }}</time></p>
        <h2>{{ .Title }}</h2>
    </header>
    <div id="page_description">{{ .Params.page_description }}</div>
    <div class="page-toc">
        {{ if gt (len .TableOfContents) 33 }}
        <h3>目次</h3>
        {{ .TableOfContents }}
        {{ end }}
    </div>
    <section class="post-content">
        {{ .Content }}
    </section>
    <footer class="post-footer">
        <section class="f-2">
            {{ with .Params.tags }}
            <span class="f-post-tags"><i class="fa fa-tag"></i>
                {{ delimit  . ", " }}
            </span>
            {{ end }}
        </section>
    </footer>
</article>
