<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">

<meta name="author" content="{{ .Site.Params.author }}">

{{ with .Site.Params.twitter_name }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ . }}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
{{ if .IsPage }}
<meta property="og:type" content="article" />
<meta property="og:article:author" content="{{ .Site.Params.author }}" />
<meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
{{ else }}
<meta property="og:image" content="/images/Twitterカード.png" />
<meta property="og:type" content="website" />
{{ end }}
